# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Environment Variables
.env*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Optional: Log files
*.log

# Optional: Compiled code
*.js.map
*.css.map

# Optional: Compiled TypeScript files
*.tsbuildinfo

# Firebase Emulators
firebase-debug.log
*.sqlite
# Ignore Hosting emulator directory (if used)
.firebase/hosting.*.cache

# Genkit (if applicable)
.genkit/
genkit.state

# turbo cache
.turbo
